body    {
    font-family: 'Poppins', sans-serif;
    background-color: #111;
}
/* NAVBAR */
.navbar  {
    text-transform: uppercase;
}

.nav-link   {
    margin-right: 50px;
}
/* END OF NAVBAR */

/* HERO SECTION */
#Hero   {
    margin-top: 94px;
}
.name   {
    font-size: 96px ;
    color: white;
    font-weight: 600;
    line-height: 95px;
}
.description    {
    color: #828282;
}
.btn    {
    background: #987DE3;
    box-shadow: 0px 4px 4px rgba(139, 139, 139, 0.25);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.075em;
    padding: 14px 15px;
    margin-top: 25px;
}
/* END OF HERO SECTION */

/* PORTFOLIO */
#portfolio  {
    margin-top: 80px;
}
/* PORTFOLIO */

/* BLOGS */

/* BLOGS */
/* MOBILE VERSION */
@media (max-width: 991.98px) { 

    #Hero   {
        margin-top: 10px;
        text-align: center
    }
    .name   {
        font-size: 26px ;
        color: white;
        font-weight: 600;
        line-height: 95px;
        text-align: center;
    }
    .description    {
        color: #828282;
        text-align: center;
        margin-top: -30px;
    }
    .btn    {
        background: #987DE3;
        box-shadow: 0px 4px 4px rgba(139, 139, 139, 0.25);
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.075em;
        padding: 14px 15px;
        margin-top: -5px;
       ;
    }
    .img-fluid  {
        margin-top: 25px;
        
    }
}
/* MOBILE VERSION */
